language: node_js
node_js:
- lts/*
before_install:
- export CHROME_BIN=chromium-browser
cache:
  directories:
  - node_modules
deploy:
  provider: heroku
  api_key:
    secure: "yynUi3CLXnuT8/YFQv9LgUlcwZ3/h7YhVTNM1qOUpBEqrsRoLDckcq4+C/R6D2vtGGgbJ8ZZ7MIsWsy0tO7r3bvxvkbj93GeSQY7uvb+7koLEAmGr/oKSR3iT4Joy3GLv9gE3cbEBn2oCWNJvLqhvqgrkKwYvsiNxdlJaeek/djdjWWj4988ps7wtDEk8Pu+T8HG4ZgQlIq8o78ommOkpj5gy3dUKkKf7QDoD6WfEgoxs2GO5JBIMqO9UvTfYQ+ep7GnCPvpNWnYd36x2nztNBTnUl8Y20T9KUcY+gqu0GlsnbUGKGbYVfVg4Q730iVOAyYII2CNwAQDLpniMgmUU9B0NPs4g1RLIIBKnaNHEjZ2FjV4h/ott92szRKkLekQZmhkePRB1FLCzPUMQD8AAInA2SIOwt25WRNqFWogdmXFqG78maR9NSpk+ZhrgSkOo8S7W5mACAQBZm87IQkrd8UicTKOyFqJ7pqCQVI4r5SJSGEmMr8D3iUgtvOLS20TR+0O9IFIlMOKXrL7H6rPpUeg9KV4XdFpveokRI+71A7o0qMy+FIyc65wVFvvAWXGxNVHnwCqc887H2TAwgYwiLeMXjMwnWXU0DbgLkOK4flZ39W5bTR68CH8VrFMcHowoPQh5aK10imoy2F5hcCmAmSBRyGZ7d9EG0R6iyPN9mU="
  on: master
