language: node_js
node_js:
- lts/*
before_install:
- export CHROME_BIN=chromium-browser
cache:
  directories:
  - node_modules
deploy:
  provider: heroku
  api_key:
    secure: "mt7EgNE90K7UBjdHb9ShQf4SpD0f6xSCrVRrzXRsvYv2eqdOVZjyznULjLCZ2NHnRcu/5XYBBWrNuShrvkvJhRl5gQ4QultradOh0wUDZeFxhX86qnMimDbreivzWM1koqDw/zB+XPwT/r62LDS1CCm52Lws5cXKf5LMehl/5tPg+G/eyZFXGhWC41r84Hcs0RZnX8grjiZs5lw5wV2vhuRMYZSVsHN93ZOuvBINgoeWDVGnEFCO6dV9ovbzuS3PC8fn6lzNlgWTsTqmyZB3UskhT0e8bhFSPhsqriy2OlBfYNuraMX+2fuYwJjNVewU0hng7I2sXHrlI8ZFPIEy18Q0KsEDvmJTEGN1Bi/zLjzGFyifcElHjQ2YdWxuCYipxQKVCijf0AkhCZE5Ihq44kGxdiYof+uVujdOSAVjDd28Zw7GrlrfIF7uvIQte7AymIk3A/sC5UgBaHC10nypiQ+sFjLRqaBdi65IBnEPcrsHo4cVZKRjhOW7b8eLZC2AsePJRSloU0VNIWXlFidzQOBPe11CfUP03Zn3bRxsUvJ0lK4oy5cw/68IQyLwJfNJDWg3QYYLBNl0ZrSWDThve33jbhGTDVl2K31dkSD5dwxKcBFOjSSndiuQuuLB5R6yq1kqOLttvoCDf64/ZwJbKlMR5q+7oXk9cY6CaR1tHyk="
  app: TODO-APP
  on: master
