<div class="container">
    <div>
        <h1 class="center-align header">TODOS</h1>
    </div>
    <div class="row">
        <div class="col s6 offset-s3 card white">
            <div class="card-content">
                <input [(ngModel)]="currentTaskInTextInput"
                    class="input-field" 
                    #task (keyup.enter)="addNewtask(task.value)"
                    placeholder="Add a new task..."  
                    type="text" 
                    ngModel>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col s6 offset-s3">
                <h5>Active</h5>
            </div>
        </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <ul class="collection">
                <li class="collection-item active-tasks-container" 
                *ngFor="let task of activatedTasks">{{task.name}}
                    <a class="secondary-content clickable">
                        <i (click)="removeTaskFromActiveTasks(task)" class="spaced button">Delete</i>                     
                    </a>
                    <a class="secondary-content clickable button">
                        <i (click)="setAsComplete(task)">Complete</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <h5>Completed</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <ul class="collection">
                <li class="collection-item completed-tasks-container" *ngFor="let completedTask of completedTasks">
                    {{completedTask.name}} <a class="secondary-content clickable">
                        <i (click)="removeTaskFromCompletedTasks(task)" class="spaced button">Delete</i>                     
                    </a>
                    <a class="secondary-content clickable">
                        <i (click)="setAsActive(task)" class="button">Activate</i>   
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
