<div class="container">
    <h3>TODO App</h3>
    <div class="row">
        <div class="input-field col s12">
            <input #task (keyup.enter)="addNewtask(task.value)"
                placeholder="Add a new task..."  
                type="text" 
                ngModel>
        </div>
        <ul>
            <div>
                <li *ngFor="let task of tasks">{{task.name}}
                    <a class="btn-floating waves-effect waves-light blue">
                        <i class="tiny material-icons"
                            (click)="removeTask(task)">remove</i>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>
