<div class="container">
    <div>
        <h1 class="center-align header">TODOS</h1>
    </div>
    <div class="row">
        <div class="col s6 offset-s3 card white">
            <div class="card-content">
                <input [(ngModel)]="currentTaskInTextInput"
                    class="input-field" 
                    #task (keyup.enter)="addNewtask(task.value)"
                    placeholder="Add a new task..."  
                    type="text" 
                    ngModel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <ul class="collection">
                <li class="collection-item" *ngFor="let task of tasks">{{task.name}}
                        <a class="secondary-content clickable">
                            <i (click)="removeTask(task)" class="material-icons">remove</i>
                        </a>
                </li>
            </ul>
        </div>
    </div>
</div>
